# Project files #
#################
*.suo

# Compiled source #
###################
ConsoleApplicationService/bin/
ConsoleApplicationService/obj/
Negocio/bin/
Negocio/obj/
PianoWPFClient/bin/
PianoWPFClient/obj/
