<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ConsoleApplicationService.ServicioBehavior">
          <serviceMetadata />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="ConsoleApplicationService.ServicioBehavior"
        name="ConsoleApplicationService.Servicio">
        <endpoint
          address=""
          binding="netTcpBinding"
          bindingConfiguration="b1"
          contract="ConsoleApplicationService.IServicio" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:4502/Servicio" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="b1" maxReceivedMessageSize="8000000">
          <!-- Se supero la cuota de longitud maxima (16384) al leer los datos XML. -->
          <readerQuotas maxStringContentLength="2147483647"
                        maxNameTableCharCount="2147483647"
                        maxArrayLength="2147483647"
                        maxBytesPerRead="2147483647"/>
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>